/** Add css rules here for your application. */
/**Styling der Div-Elemente*/
body {
	background-color: white;
	font-family: 'Oxygen', sans-serif;
}

html *{
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
	font-weight: light;
}

div {
	padding: 10px;
	margin: 0px;
	background-color: white;
}


/* Styling der HTML Div-Elemente */

#container {
	float: none;
	height: 100%;
	margin: 5 px;
	min-width: 1000px;
	background-color:  white;
	border-radius: 20px;
}

#header {
	background-color: white;
	border-radius: 20px;
	font-size: 22px;
	font-weight: bold;
}

#SuchProfilLogout {
	background-color: #dfdfdf;
	border-radius: 20px;
	margin-bottom: 15px;
	border-style: inset;
}

#AboDiv {
	clear: both;
	float: left;
	width: 20%;
	min-height: 15em;
	font-size: 10pt;
	border: 10px solid ;
	border-radius: 20px;
	margin-left: 0px;
	border-style: inset;
}

#InhaltDiv {
	
	float: left;
	margin-left: 10px;
	padding: 10px;
	width: 65%;
	font-size: 10pt;
	border-left: 5px solid grey;
	

}

#trailer {
	clear: both;
	padding: 10px;
	border-top: 1px white;
	font-size: 80%;
	text-align: center;
	background: #dfdfdf;
	color: #424242;
	border-radius: 20px;
	margin-top: 15px;
}


/* Styling von Button-Elementen */

.gwt-Button { 
   background-color:#fe1a00;
	moz-border-radius:6px;
	webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	font-family: 'Oxygen', sans-serif;
	width: 100px;
	height: 50px;
	font-size: 150;
	
   
}

.gwt-TextBox{
	height: 20px;
	width: 400px;
	
}

.profilBtn {
	
}

.headerBtn {
	
}

.uebersichtBtn {
	
}

.beitragBtn {
	
}

.kommentarBtn {
	
}

/* Angezeigte Textbeiträge */

.beitragInhalt {
	border-bottom: 0.5px solid black;
	color: black;
	font-size: 20pt;
	padding: 20px;
	margin: 20px;
	width: 70px;
	/* Anmerkung: PrimaryName */
}

/* Stylen der AboBox */

.abobox {
	color: black;
}

.anzeigePW {
	color: black;
	border-radius: 20px;
	font-weight: bold;
	
}

.aboniertePW { /* löschen, da nur panel? */
	color: black;
}

.aboPinnwandInfos { /* löschen da nur panel? */
	margin-left: auto;
	margin-right: auto;
}


/* Stylen der AboPinnwandBox */

.vornameAbobox {
	
	
}

.nicknameAboBox {
	color: black;
	background-color: grey;
	border-radius: 20px;
	border-style: outset;
}

.aboPinnwandBox {
	
}

/* Stylen der BeitragBearbeitenDialogBox */

/* Keinerlei Stylenames hinzugefügt */


/* Stylen der BeitragBox */

.beitragBox {
	color: black;
	border: 10px solid;
	border-radius: 20px;
	padding: 15px;
	margin: 20px;
	border-style: outset;
	width: 50%;
	
	
}

.beitragInhalt {
	border-bottom: 0.5px solid black;
	color: black;
	font-size: 10pt;
	/* Anmerkung: PrimaryName */
}

.nutzerZeitPanel{
	
	width: 100%;
	
}

.nickname {	/* Überarbeitung Bezeichnung -> alle nickname Label gleich ansprechen? */
	color: #424242;
	font-weight: bold;
	margin-right: 100px;
	width: 100%;
	
}

.erstellZeitpunkt {
	color: #424242;
	font-weight: bold;
	
	
}

.kommentarAnzahl {
	
}

.likeAnzahl {
	
}

.beitragBearbeitenButton {
	color: black;
}


.inhaltPanel {
	
	padding:10px;
	margin: 20px;
	border-bottom: 2px solid grey;
	width: 100px;
	
}

.ButtonPanel { /* Namen spezifieren */

	padding:20px;
	margin: 20px;
	border-bottom: 2px solid grey;

}

.erstelleKommentarPanel {
	
}

.kommentarPanel {
	
}


/* Stylen der BeitragLoeschenDialogBox */



/* Stylen der ErstelleBeitragBox */

.erstelleBeitragBox {
	height: 100%;
	width: 100%;
}

.erstelleBeitragFeld {



	color: black;
	widht: 100%;

	
}


/* Stylen der ErstelleKommentarBox */

.kommentarEingabeFeld {

	
padding: 20px;
	margin: 20px;	
}


.erstelleKommentarBox {
	border-radius: 20px;
}


/* Stylen der HeaderBox */

.headerBox {
	width: 100%;
}

.logoutEditPanel {
	
	width: 100%;
	margin-right: 10px;
}


/* Stylen der KommentarBearbeitenDialogBox */




/* Stylen der KommentarBox */

.kommentarBox {
	color: black;
	border: 3px;
	padding: 20px;
	margin: 20px;
	border-radius: 20px;
	border-style: outset;

}
/* Anmerkung: nickname, erstellzp über einen class selektor ansprchen! */


/* Stylen der KommentarLoeschenDialogBox */
/* Anmerkung: allgemeines ansprechen aller dialogboxen! */


/* Stylen der LikesAnzeigenDialogBox */



/* Stylen der PinnwandBox */

.pinnwandBox {
	color: black;
}



/* Stylen der ProfilBearbeitenDialogBox */


/* Stylen der ProfilBox */

.profilBox {
	color: black;
	float: left;
	left: 100%;
}

.labelPanel{
	margin-top: 5px;
}


/* Stylen der Suchleiste */

.suchleistePanel {
	color: black;
	height: 100%;
	width: 100%
}

.suchBox{
	height: 100%;
	width: 100%;
	border-radius: 20px;
	float: center;
	margin-right: 5px;
	
}

.suchButton {
	color: black;


}

/* Stylen der UebersichtBox */



/* Stylen des LogIn */

.submitButton {
	color: black;
}

.loginGreet {
	
}

.loginPanel {
	
}

.loginAufforderung {
	
}


/* Stylen des Report */

.social-simpletext {
	
}


/** Stylen der DialogBoxen */

.gwt-DialogBox {
	max-width: 500px;
	height: auto;
}


.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}
