/** Add css rules here for your application. */
/**Styling der Div-Elemente*/
body {
	background-color: white;
	font-family: 'Oxygen', sans-serif;
}

html *{
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
	font-weight: light;
}

div {
	padding: 8px;
	margin: 0px;
	background-color: white;
}


/* Styling der HTML Div-Elemente */

#container {
	float: none;
	height: 100%;
	margin: 5 px;
	min-width: 1000px;
	background-color:  white;
	border-radius: 20px;
}

#Header {
	background-color: #5E5E5E;
	border-radius: 10px;
	font-size: 22px;
	font-weight: bold;
	border-style: inset;
	margin-bottom: 10px;
}

#AboDiv {
	clear: both;
	float: left;
	width: 25%;
	min-height: 15em;
	font-size: 10pt;
	border-radius: 10px;
	margin-left: 0px;
	border-style: inset;
	overflow: auto;
	
	
}

#InhaltDiv {
	
	float: left;
	margin-left: 10px;
	padding: 10px;
	width: 65%;
	font-size: 10pt;
	border-left: 5px solid #df1717;
	

}

#trailer {
	clear: both;
	padding: 10px;
	border-top: 1px white;
	font-size: 80%;
	text-align: center;
	background: #dfdfdf;
	color: #424242;
	border-radius: 20px;
	margin-top: 15px;
}

* {
  box-sizing: border-box;
}


/* Styling von Button-Elementen */

.gwt-Button { 
  
	background-color:grey;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Oxygen;
	font-size:16px;
	padding:6px 12px;
	text-decoration:none;
	width: 100px;
	heigth: 80px;
	
   
}

.gwt-TextBox{
	height: 20px;
	width: 400px;
	
}

/* Angezeigte Textbeitr�ge */

.beitragInhalt {
	color: black;
	width: 95%;
	padding: 10px;
	margin: 5px;	
	resize: none;
	border-radius:10px;
	/* Anmerkung: PrimaryName */
}

/* Stylen der AboBox */

.abobox {
	color: black;
}

.anzeigePW {
	color: black;
	border-radius: 20px;
	font-weight: bold;
	
}

.aboniertePW { /* l�schen, da nur panel? */
	color: black;
	
}

.aboPinnwandInfos { /* l�schen da nur panel? */
	margin-left: auto;
	margin-right: auto;
}


/* Stylen der AboPinnwandBox */

.vornameAbobox {
	
	
}

.nicknameAboBox {
	color: black;
	background-color: grey;
	border-radius: 10px;
}

.aboPinnwandBox {
	
	margin: 2px;
	
}

/* Stylen der BeitragBearbeitenDialogBox */

/* Keinerlei Stylenames hinzugef�gt */


/* Stylen der BeitragBox */

.beitragBox {
	color: black;
	border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	border-style: inset;
	width: 100%%;
	
	
}


.nutzerZeitPanel{
	
	font-size: 16px;
	width: 100%;
	
}

.nickname {	/* �berarbeitung Bezeichnung -> alle nickname Label gleich ansprechen? */
	color: #424242;
	font-weight: bold;
	margin-right: 100px;
	width: 100%;
	
}

.erstellZeitpunkt {
	color: #424242;
	font-weight: bold;
	
	
}

.kommentarAnzahl {
	
}

.likeAnzahl {
	
}

.beitragBearbeitenButton {
	color: black;
}


.inhaltPanel {
	
	padding:5px;
	width: 100%;
	
}

.ButtonPanel { /* Namen spezifieren */

	padding: 7px;
	margin: 7px;
	border-top: 2px solid #df1717;
	border-bottom: 2px solid #df1717;
	width: 95%;

}

.erstelleKommentarPanel {
	
}

.kommentarPanel {
	
}


/* Stylen der BeitragLoeschenDialogBox */



/* Stylen der ErstelleBeitragBox */

.erstelleBeitragBox {
	height: 100%;
	width: 100%;
}

.erstelleBeitragFeld {

	color: black;
	padding: 20px;
	margin: 20px;	
	box-sizing: border-box;
	resize: none;
	
	
}

.beitragEingabeFeld{
	resize: none;
	border-radius: 10px;
}


/* Stylen der ErstelleKommentarBox */

.kommentarEingabeFeld {
	
	
	margin-left: 15px;	
	box-sizing: border-box;
	resize: none;
	border-radius: 10px;
}


.erstelleKommentarBox {
	border-radius: 20px;
}


/* Stylen der HeaderBox */

.headerBox {
	width: 100%;
}

.logoutEditPanel {
	
	width: 100%;
	margin-right: 10px;
}


/* Stylen der KommentarBearbeitenDialogBox */




/* Stylen der KommentarBox */

.kommentarBox {
	color: black;
	border-radius: 10px;
	padding: 10px;
	margin-left: 15px;
	margin-top: 5px;
	border-style: inset;
	width: 100;

}
/* Anmerkung: nickname, erstellzp �ber einen class selektor ansprchen! */


/* Stylen der KommentarLoeschenDialogBox */
/* Anmerkung: allgemeines ansprechen aller dialogboxen! */


/* Stylen der LikesAnzeigenDialogBox */



/* Stylen der PinnwandBox */

.pinnwandBox {
	color: black;
}



/* Stylen der ProfilBearbeitenDialogBox */


/* Stylen der ProfilBox */

.profilBox {
	color: black;
	float: left;
	left: 100%;
}

.labelPanel{
	margin-top: 5px;
}


/* Stylen der Suchleiste */

.suchleistePanel {
	color: black;
	height: 100%;
	width: 100%
}

.suchBox{
	height: 100%;
	width: 100%;
	border-radius: 20px;
	float: center;
	margin-right: 5px;
	
}

.suchButton {
	color: black;


}

.suchLabel {
	color: white;
	opacity: 0.0;
}

/* Stylen der UebersichtBox */



/* Stylen des LogIn */

.submitButton {
	color: black;
}



.loginGreet {
	
}

.loginPanel {
	
}

.loginAufforderung {
	
}


/* Stylen des Report */

#header{
	border-radius: 10px;
	background-color:#5E5E5E; 
}


.social-simpletext {
	
}



.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}
